html,
body,
footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(37, 36, 44);
}

nav {
  padding-top: 15px;
  /* width: 80%; */
  color: white;
}

nav div {
  display: flex;
  font-size: 8px;
  margin-left: 17px;
}

.nav-left div {
  padding-top: 3px;
}

.nav-right {
  position: absolute;
  /* margin-left: 17px; */
  left: 550px;
}

#search input {
  width: 150px;
  min-height: 20px;
  list-style: none;
  background-color: rgb(60, 59, 59);
  font: white;
  border: none;
  font-size: 15px;
  border-radius: 2px;
}

.nav-right div {
  padding: 3px 3px 0 3px;
}

#signup {
  border: 1px solid white;
  border-radius: 5px;
}

.word {
  position: absolute;
  left: 200px;
  top: 70px;
}

.word div {
  color: white;
  /* position: absolute; */
}

#built {
  /* display: inline-block; */

  font-size: 30px;
  font-weight: 400;
  width: 200px;
}

#github-is {
  /* display: inline-block; */

  padding-top: 10px;
  width: 240px;
  font-size: 10px;
  color: rgb(128, 133, 138);
}

#whitebox {
  /* font-size: 1px; */
  position: absolute;
  top: 70px;
  left: 480px;
  width: 200px;
  background-color: white;
  border: 1px solid white;
  height: 250px;
  color: white;
  border-radius: 5px;
}

#greenbox {
  background-color: rgb(11, 181, 11);
  height: 30px;
  line-height: 25px;
  margin: 5px 7px 0px 7px;
  font-size: 3px;
  text-align: center;
  border: 10px;
  vertical-align: -10px;
  color: white;
}

.a {
  background-color: rgb(11, 181, 11);
  color: white;
  font-size: 5px;
}

#whitebox div {
}

#down {
  /* position: absolute; */
  /* top: -0.01px; */
  /* bottom: 1px; */
  /* border-top: 5px; */
}

.smallfont {
  margin: 0 10px;
  font-size: 3px;
  border-top: 15px;
  zoom: 0.7;
  color: black;
}

.input div {
  color: black;
  font-size: 5px;
}

.input input {
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.input input:focus {
  background-color: rgb(208, 229, 238);
}

.input .for-what {
  padding-left: 0px;
  font-size: 1px;
  font-weight: bold;
  padding-left: 11px;
}

#whitebox a {
  width: 180px;
  height: 30px;
}

#whitebox div {
  padding-top: 3px;
}

/* -------------- */

i {
  padding-left: 10px;
  padding-top: 4px;
}

.logo img {
  position: relative;
  width: 25px;
  height: auto;
  top: -4px;
}

.foot {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: white;
}

footer img {
  position: absolute;
  width: auto;
  height: 70px;
  bottom: 0px;
  left: 550px;
}
