* {
  box-sizing: border-box;
}

header {
  height: 220px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}

nav {
  height: 46px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

nav ul {
  margin: 0;
  padding: 0 0 0 4px;
  list-style: none;
}

nav ul li {
  color: #03cf5d;
  font-weight: bold;
  padding-left: 14px;
  /* font-size: medium; */
  cursor: pointer;
  font-size: 16px;
  /* float: left; */
  display: inline-block;
}

.nav-divider {
  /* float: left; */
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#rightnav {
  display: inline-block;
}

#rightnav li {
  color: black;
}

nav li {
  display: inline-block;
}

.topbar-parent {
  text-align: right;
  /* clear: both; */
}

.topbar {
  display: inline-block;
  font-size: small;
  cursor: pointer;
  color: #888;
  letter-spacing: -1px;
  font-size: 15px;
  line-height: 22px;
}

.blind {
  display: none;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
  position: relative;
}

#search-ranking {
  position: absolute;
  top: 12px;
  right: 30px;
  /* margin-right: 50px; */
  /* margin-right: 100px; */
}

#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
  display: inline-block;
}

#rank-word {
  display: inline-block;
}

#header-center h1 span {
  display: none;
}

#header-center h1 {
} /** header-center의 자손들인 h1에 해당**/

#header-search {
  margin-top: 50px;
}

#header-search a {
  text-decoration: none;
}

#header-search > h1 {
  width: 221px;
  height: 48px;
  display: inline-block;
  background-position: 0px -165px;
  background-image: url(../ch1/naverimg.png);

  -webkit-background-size: 442px 428px;
  background-size: 442px 428px;
  background-repeat: no-repeat;
  text-indent: 100%;
  overflow: hidden;
  vertical-align: middle;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0; */
  padding: 12px 0 12px 12px;

  border: 3px solid #03cf5d;
  width: 500px;
  height: 52px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
  width: 385px;
  height: 30px;
  display: inline-block;
}

#header-search fieldset button {
  width: 47px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  background-image: url(../ch1/naverimg.png);
  /* background-repeat: no-repeat; */
  /* background-size: 442px 428px; */
  background-position: -837px -45px;
  position: absolute;
  right: 0;
  top: 0;
}

.search-keyboard {
  background-image: url(../ch1/naverimg2.png);
  background-position: -33px -60px;
  background-repeat: no-repeat;
  width: 19px;
  height: 11px;
  display: inline-block;
  padding: 0 6px;
  vertical-align: middle;
}

.search-history {
  background-image: url(../ch1/naverimg2.png);
  background-position: -87px -60px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 9px;
  height: 4px;
  padding: 0 6px;
}

main {
  background-color: #f2f4f7;
  overflow: auto;
}
