* {
  box-sizing: border-box;
}

.topbar {
  display: inline-block;
}

.blind {
  display: none;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}
#header-center h1 span {
  display: none;
}

#header-center h1 {
} /** header-center의 자손들인 h1에 해당**/

#header-search a {
  text-decoration: none;
}

#header-search > h1 {
  width: 221px;
  height: 48px;
  display: inline-block;
  background-position: 0px -165px;
  background-image: url(../ch1/naverimg.png);

  -webkit-background-size: 442px 428px;
  background-size: 442px 428px;
  background-repeat: no-repeat;
  text-indent: 100%;
  overflow: hidden;
  vertical-align: middle;
}

#header-search h2 {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 0; */
  padding: 12px 0 12px 12px;

  border: 3px solid #03cf5d;
  width: 521px;
  height: 60px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

#header-search fieldset input {
  border: none;
  padding: 0;
  outline: none;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  background-image: url(../ch1/naverimg.png);
  background-position: -837px -45px;
}
